.account{
    display: flex;
    background-color: #64C7F5;
    width: 100%;
    border-radius: 10px;
}
.account img{
    border-radius: 100px;
    height: 95px;
    width: 95px;
}
.account ul{
    list-style: none;
    overflow:hidden;
    box-sizing: border-box;
    padding-left: 10px;
}
/* Bibliothèque */
.biblio{
    display: flex;
    flex-wrap: wrap;
}
.libraryItem{
    margin: 0 5px 10px 5px;
    height: 175px;
    text-decoration: none;
    word-wrap: break-word;
}
.libraryItem img{
    height: 175px;
}
.libraryItem div{
    margin: 0;
    position: relative;
    bottom: 34px;
    left: 0;
    padding: 0 3px 10px;
    text-align: center;
}
.libraryItem div p{
    margin: 0;
    padding: 2px 0;
    background-color: #F5EF64;
    border-radius: 10px;
}

@media screen and(max-width:760px) {
    .libraryItem{
        max-width: 25%;
    }
}

