
main{
    display: flex;
    flex-direction: column;
    max-width: 1220px;
    margin:0 auto;
    padding: 15px;
}

.mangaHead{
    display: flex;
    height: 20rem;
    padding-bottom: 20px;
    padding-top: 50px;
}
#mangaInfo{
    padding-left: 20px;
}
#mangaInfo p span{
    margin-left: 10px;
}

.titreSwich{
    display: flex;
}
.titreSwich a{
    text-decoration: none;
}
.initial{
    color:black;
    border-bottom: 3px solid #64C7F5;
    padding-bottom: 5px;
}
.colorChange{
    color:#a7a7a7;
    border-bottom: none;
}
.barre{
    border-right: 2px solid black;
    margin: 0 3em;
    height:1.5em;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.description{
    margin: auto;
    padding: 13px;
    margin-bottom: 13px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F3F5F7;

}

/* Chapitre */
.chapNumb{
    display: grid;
    grid-template-columns: 2fr repeat(2,1fr);
}
.chapNumb h3{
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid black;
}