
*{
    box-sizing: border-box;
}

/* conteneur */
.container{
    width: 70%;
    margin:auto;
}

/* Article manga */
/* 2 technique float left ou display grid */
main{
    float: left;
    width: 70%;
}
.article_manga{
    margin: auto;
}
.itemupdate{
    text-decoration: none;
    margin: auto;
    float: left;
    width: 48%;
    text-align: left;
    padding: 15px 10px;
    overflow: hidden;
    position: relative;
}
.itemupdate a{
    text-decoration: none;
}
.itemupdate h3{
    margin: 0;
    color: #000;
}
.itemupdate ul{
    margin: 0;
    width: 70%;
    padding: 1px 10px ;
    list-style: none;
    overflow: hidden;
}
.itemupdate ul li{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.itemupdate ul li a{
    text-decoration: none;
    color: #000;
    padding-right: 20px;
}
.itemupdate li a:visited{
    color: #f56477;
}
.itemupdate img{
    width: 100px;
    float: left;
    padding-right: 10px;
}

/* bouton suivant */
.bt_pg_suivante{
    clear: both;
    display: flex;
    justify-content: center;
}
.bt_pg_suivante a{
    color: #000;
    text-decoration: none;
    padding: 8px 12px;
    margin:5px 5px 5px 0;
    border: 1px solid black;
}
/* aside populaire */
aside{
    width: 30%;
    float: right;
    background-color: #F5EF64;
    border-radius: 10px;
}
.calendrier{
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: white;
    list-style: none;
}
aside a{
    text-decoration: none;
    color: #000;
}
.border_number{
    padding: 10px;
    border: 2px solid black;
    margin: auto 10px;
}
.aside_section{
    display: flex;
    border-bottom: 1px solid white;
    padding: 10px;
}
.aside_section img{
    height: 100px;
}
.asideUl{
    list-style: none;
    padding-left: 10px;
    margin: 0;
    flex-wrap: wrap;
}
.genreAside{
    display: flex; 
    margin-top: 20px;
    flex-wrap: wrap;
}