
*{
    box-sizing: border-box;
}

/* conteneur */
.container{
    width: 65%;
    margin:auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

}
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        max-width: 970px;
    }

}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .article_manga{
        width: 58%;
    }
}

/* Article manga */
/* 2 technique float left ou display grid */
.article_manga{
    margin-bottom: 20px;
    width: 728px;
}
@media screen and (max-width:1000px) {
    .article_manga{
        display: flex;
        flex-direction: column;
    }
}
.itemupdate{
    text-decoration: none;
    float: left;
    width: 48%;
    text-align: left;
    padding: 15px 10px;
    overflow: hidden;
    position: relative;
}
.itemupdate a{
    text-decoration: none;
}
.itemupdate h3{
    margin: 0;
    color: #000;
}
.itemupdate ul{
    margin: 0;
    width: 65%;
    padding: 1px 10px ;
    list-style: none;
    overflow: hidden;
}
.itemupdate ul li{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.itemupdate ul li a{
    text-decoration: none;
    color: #000;
    padding-right: 20px;
}
.itemupdate li a:visited{
    color: #f56477;
}
.itemupdate img{
    width: 100px;
    float: left;
    padding-right: 10px;
}
@media screen and(max-width:780px){
    .itemupdate{
        width: 98%;
    }
}

/* bouton suivant */
.bt_pg_suivante{
    clear: both;
    display: flex;
    justify-content: center;
}
.bt_pg_suivante a{
    color: #000;
    text-decoration: none;
    padding: 8px 12px;
    margin:5px 5px 5px 0;
    border: 1px solid black;
    background-color: #64C7F5;
}
/* aside populaire */
aside{
    width: 20%;
    float: right;
    background-color: #F5EF64;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 10%;
}
.calendrier{
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: white;
    list-style: none;
}
aside a{
    text-decoration: none;
    color: #000;
}
.border_number{
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border: 2px solid black;
    border-radius: 2px;
    margin: auto 10px;
}
.aside_section{
    display: flex;
    border-bottom: 1px solid white;
    padding: 10px;
}
.aside_section img{
    height: 100px;
}
.asideUl{
    list-style: none;
    padding-left: 10px;
    margin: 0;
    flex-wrap: wrap;
}
.genreAside{
    display: flex; 
    margin-top: 20px;
    flex-wrap: wrap;
}

@media screen and (max-width:1104px) {
    aside{
        float: none;
        position: relative;
        width: 100%;
    }
    .filtre{
        width: 100%;
    }
}