/* conteneur */
.containerMain{
    margin:10px;
    display: block;
}
.containerMainLeft{
    float: left;
    display: block;
    margin-right: 10px;
}
.containerMainRight{
    float: left;
    display: block;
    background-color: #F5EF64;
    border-radius: 10px;
    width: 300px;
}
@media screen and (min-width: 758px){
    .containerMainLeft{
        width: 663.078px;
    }
}
@media screen and (max-width: 1040px){
    .containerMainLeft{
        margin: auto;
        float: none;
    }
    .containerMainRight{
        margin: auto;
        float: none;
        width: 100%;
    }
}
/* Article manga*/
/* 2 technique float left ou display grid */
.article_manga{
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: auto;
    grid-gap: 25px;
    margin-top: 10px;
}

@media screen and (min-width:758px) {
    .containerMain{
        margin:20px auto;
    }
    .article_manga{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .bt_pg_next{
        grid-column: 1 / span 2;
    }
}
.itemupdate{
    text-decoration: none;
    float: left;
    height: 177px;
    width: 100%;
    text-align: left;
    overflow: hidden;
}
.itemupdate img{
    float: left;
    height: 100%;
    padding-right: 10px;
}
.itemupdate a{
    text-decoration: none;
    color: #000;
}
.itemupdate h3{
    margin: 0;
    color: #000;
}
.itemupdate ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow:hidden;
    box-sizing: border-box;
}

/* article accueil */
.listAC li, .listRNP li:nth-child(3){
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.listAC li a:visited{
    color: #f56477;
}

/* article Random + populaire + nouveau */
.listRNP li:nth-child(4){
    display: flex;
}
.see{
    margin: 0;
    padding: 0;
    align-self: center;
    padding-left: 5px;
    color: #5f6368;
}
.contain{
    font-family: 'Liberation Sans';
    overflow: hidden;
}

/* bouton suivant */
.bt_pg_next{
    clear: both;
    display: flex;
    justify-content: center;
}
.bt_pg_next a{
    color: #000;
    text-decoration: none;
    padding: 8px 12px;
    margin:5px 5px 5px 0;
    border: 1px solid black;
    background-color: #64C7F5;
}
/* aside populaire */
.calendar{
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: white;
    list-style: none;
}
.containerMainRight a{
    text-decoration: none;
    color: #000;
}
.border_number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto 10px;
}
.aside_section{
    display: flex;
    border-top: 1px solid white;
    padding: 10px;
}
.aside_section img{
    height: 100px;
}
.asideUl{
    box-sizing: border-box;
    list-style: none;
    padding-left: 10px;
    margin: 0;
    flex-wrap: wrap;
}
.genreAside{
    display: flex; 
    margin-top: 20px;
    flex-wrap: wrap;
}
