body{
    margin: 0;
    padding: 0;
}
/* Police */
@font-face {
    font-family: 'Manga Temple';
    src: url(Font/manga_temple/mangat.ttf);
}
@font-face {
    font-family: 'Liberation Sans';
    src: url(Font/liberation_sans/LiberationSans-Regular.ttf);
}
h1{
    font-family: 'Manga Temple';
}
h2{
    font-family: 'Manga Temple';
}
h3{
    font-family: 'Manga Temple';
}
p{
    font-family: 'Liberation Sans';
}
 /* logo + diplay répétitif pour JS */
.logo{
    height: 100%;
    width: auto;
}
.dis_none{
    display: none;
}

/* Footer */
footer{
    width:100%;
    background-color: #006899;
    max-height: 165px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;

}
footer ul{
    text-decoration: underline;
    border-bottom: 1px solid white;
    padding: 0;
    padding-bottom:5px ;
    display: flex;
    margin: 0;
    justify-content: center;
    list-style: none;
}
footer ul li:first-child img{
    height: 17px;
    width: 15px;
    margin-right: 10px;
}  
footer ul li:nth-child(2) img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}  
footer ul li:last-child img{
    height: 17px;
    width: 17px;
    margin-right: 10px;
}  
footer a{
    color: white;
    text-decoration: none;
}
footer .logo{
    height: 100px;
}

/* Header+NavBar */
header{
    height: 66px;
    width: 100%;
    background-color: #64C7F5;
    display: flex;
}
header .logo{
    float: left;
}
nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.effect_nav, .ConnexionInscription {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li{
    margin: 0 15px !important;
    text-align: center;
}
.effect_nav li a:hover, .effect_nav li a:focus{
    text-shadow: 0 0 10px #F5EF64, 0 0 20px #F5EF64, 0 0 40px #F5EF64;
    color: #fff;
}
nav a{
    font-size: 14px;
    font-family: 'Manga Temple';
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    height: 66px;
    width: auto;
}
.nav_end{
    display: flex;
}
.nav_end .rechercher{
    align-self: center;
}
.rechercher img{
    cursor: pointer;
    position: relative;
    left: 39px;
    top: 4px;
    pointer-events: none;

}
.rechercher input{
    cursor: pointer;
    border-radius: 10px;
    border:none;
    padding: 10px;
    width: 35px;
    height: 40px;
    margin: 0 10px;
    transition: all 0.5s ease-out;
}
.rechercher input:focus{
    width: 200px;
    padding-left: 32px;
    transition: all 0.5s ease-out;
}
/* Swich mod */
.themeSwich{
    align-self: center;
}
.themeSwich button{
    background-color: #fff;
    border:0.5px solid black;
    border-radius: 10px;
    padding: 5px;
}
.dark_mode{
    background-color: #1c1c1e;
    color: #fefefe;
}

/* bt Filtre */
#bt_filtre{
    background-color: #64C7F5;
    border: #64C7F5;
    padding: 10px;
    margin-bottom: 10px;
}
/* Filtre */
.filtre{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F3F5F7;
    height: fit-content;
    width:fit-content;
    padding: 15px;
}
/* Genre + Type filtre */
.genre_type_filtre{
    display: flex;
    padding: 10px 0;
}
.genre_type_filtre label{
    padding-right: 10px;
}
.genre_type_filtre h4{
    margin: 0;
    padding-right: 10px;
}
.filtre label span{
    border: 2px solid #F56477;
    border-radius: 5px;
    background-color: white;
    padding: 2px;
}
/* Submit filtre */
.filtre button{
    background-color: #F56477;
    margin-top: 15px;
}
/* Filtre Genre */
.grid_filtre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
}
.grid_filtre label{
    margin-right: 10px;
    margin-bottom: 10px;
}