body{
    background-image: url(../../Image/ciel_bleu_manga.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Main + h1*/
main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
}

.grid_h1 h1{
    font-family: 'Liberation Sans';
    text-transform: uppercase;
    align-self: end;
}

.grid_h1{
    grid-column: 1 / span 4;
    display: none;
}
@media screen and (min-width: 0px){
    main {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        margin: 0px 2px;
    }
    main h1{
        font-size: 25.63px;
        text-align: center;
    }
}
@media screen and (min-width: 640px){
    main {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 16px;
        margin: 0 16px 0;
    }
    main h1{
        font-size: 25.63px;
        text-align: center;
    }
}
@media screen and (min-width: 823px){
    main{
        margin: 4% 48px 0;
    }
}
@media screen and (min-width: 1040px){
    main {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 16px;
        margin: 5% 24px 0;
    }
    main h1{
        font-size: 61.03px;
        text-align: left;
    }
    .grid_h1 {
        display: block;
        align-self: end;
        text-align: left;
        grid-column: 2 / span 6;
    }
}
@media screen and (min-width: 1280px){
    main {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 16px;
        margin: 5% 48px 0;
    }
    .grid_h1 {
        display: block;
    }
}
@media screen and (min-width: 1560px){
    main{
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
        margin: 5% 72px 0;
    }
    .grid_h1 {
        display: block;
    }
}

/* formulaire */
#formIn, #formCo{
    background-color: #64C7F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    box-sizing: border-box;
}
#formIn a, #formCo a{
    padding-left: 10px;
    color:red;
    text-decoration: none;
}
#formIn img, #formCo img{
    height: 100px;
    width: 100px;
    align-self: center;
}
#formIn input, #formCo input{
    border: none;
    border-radius: 20px;
    height: 48px;
    line-height: 32px;
    font-size: 12.64px;
    padding: 12px 0 0 15px;
    width: 100%;
    font-size: 12px;
}
#formIn input[type="submit"], #formCo input[type="submit"]{
    margin-top: 20px;
    background-color: #F5EF64;
    text-transform: uppercase;
    padding: 12px;
}
.label_incription{
    margin-bottom: 10px;
    position:relative;
}
.labelDow{
    color: #9ea2ae;
    position: absolute;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 16px;
    left: 16px;
    top: 25px;
    opacity: 1;
    height: 17.33px;
    pointer-events: none;
    text-align: left;
    transition: top .15s, font-size .15s;
}
.labelUpError{
    font-size: 10px;
    left: 15px;
    top: 10px;
    color: red;
}
.labelUp{
    font-size: 10px;
    left: 15px;
    top: 10px;
    color: #9ea2ae;
}

.messageError{
    color:red;
    text-align: left;
    padding: 4px;
    margin-top: 2px;
    list-style:none;
}
.popUp{
    z-index: 1;
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: azure;
    border-radius: 5px;
}
.txtError{
    padding: 5px;
}
@media screen and (min-width: 0px){
    #formIn,#formCo{
        grid-column: 1 / span 4;
    }
}
@media screen and (min-width: 640px){
    #formIn,#formCo{
        grid-column: 2 / span 6;
    }
}
@media screen and (min-width: 1040px){
    #formIn{
        grid-column: 8 / span 5;
    }
}
@media screen and (min-width: 1280px){
    #formIn{
        grid-column: 9 / span 4;
    }
}
@media screen and (min-width: 1560px){
    #formIn{
        grid-column: 9 / span 4;
    }
}


/* Footer modification */
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.confidentialité{
    padding-top: 4px;
}
