body{
    background-image: url(../../Image/ciel_bleu_manga.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Main + h1*/
main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
}
.grid_h1 h1{
    font-family: 'Liberation Sans';
    text-transform: uppercase;
    align-self: end;
}

.grid_h1{
    grid-column: 1 / span 4;
    display: none;
}
@media screen and (min-width: 0px){
    main {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        margin: 0px 16px;
    }
    main h1{
        font-size: 25.63px;
        text-align: center;
    }
}
@media screen and (min-width: 640px){
    main {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 16px;
        margin: 0 16px 0;
    }
    main h1{
        font-size: 25.63px;
        text-align: center;
    }
}
@media screen and (min-width: 823px){
    main{
        margin: 2% 48px 0;
    }
}
@media screen and (min-width: 1040px){
    main {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 16px;
        margin: 5% 24px 0;
    }
    main h1{
        font-size: 61.03px;
        text-align: left;
    }
    .grid_h1 {
        display: block;
        align-self: end;
        text-align: left;
        grid-column: 2 / span 6;
    }
}
@media screen and (min-width: 1280px){
    main {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 16px;
        margin: 5% 48px 0;
    }
    .grid_h1 {
        display: block;
    }
}
@media screen and (min-width: 1560px){
    main{
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
        margin: 5% 72px 0;
    }
    .grid_h1 {
        display: block;
    }
}

/* Article */
article{
    background-color: #64C7F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    min-height: 579px;
    box-sizing: border-box;;
    grid-column: 9 / span 4;
}
article div{
    position:relative;
}
article a{
    padding-left: 10px;
    color:#F56477;
    text-decoration: none;
}
article img{
    height: 100px;
    width: 100px;
    align-self: center;
}
article input{
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    height: 48px;
    padding-top: 12px;
    padding-left: 15px;
    width: 100%;
    font-size: 12px;
}
article input[type="submit"]{
    margin-top: 20px;
    background-color: #F5EF64;
    text-transform: uppercase;
    padding: 12px;
}
.label_incription label{
    color: rgb(102, 102, 102);
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 12.64px;
    left: 16px;
    top: 25px;
    opacity: 1;
    height: 17.33px;
    pointer-events: none;
    text-align: left;
}
.label_incription span{
    color: rgb(102, 102, 102);
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    font-size: 11.24px;
    left: 8px;
    top: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
}
@media screen and (min-width: 0px){
    article{
    grid-column: 1 / span 4;
    }
}
@media screen and (min-width: 640px){
    article{
    grid-column: 2 / span 6;
    }
}
@media screen and (min-width: 1040px){
    article{
    grid-column: 8 / span 5;
    }
}
@media screen and (min-width: 1280px){
    article{
        grid-column: 9 / span 4;
    }
}
@media screen and (min-width: 1560px){
    article{
        grid-column: 9 / span 4;
    }
}


/* Footer modification */
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.confidentialité{
    padding-top: 4px;
}
