    <main>
        <div class="containerMain">
            <article class="account">
                <img src="" alt="">
                <ul>
                    <li>Identifiant :<span></span></li>
                    <li>E-mail :<span></span></li>
                    <li>Mot de passe :<span></span></li>
                    <li><a href="" style="text-decoration: none; color: black;">Changer le mot de passe</a></li>
                </ul>
            </article>  
            <div class="containerMainLeft">
                <h2>Bibliotèque</h2>
                <div class="biblio">
                    <article class="libraryItem">
                        <a href="" style="background-image: url(https://s4.ihlv1.xyz/images/20200830/01_5f4b238283a05.jpg);">
                            <div>
                                <p>One Piece</p>
                            </div>
                        </a>
                    </article>
                    <article class="libraryItem">
                        <a href="" style="background-image: url(https://s4.ihlv1.xyz/images/20200830/01_5f4b238283a05.jpg);">
                            
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article class="libraryItem">
                        <a href="" style="background-image: url(https://s4.ihlv1.xyz/images/20200830/01_5f4b238283a05.jpg);">
                           
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article class="libraryItem">
                        <a href="" style="background-image: url(https://s4.ihlv1.xyz/images/20200830/01_5f4b238283a05.jpg);">
                            
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article class="libraryItem">
                        <a href="">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article class="libraryItem">
                        <a href="">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article>
                        <a href="">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article class="libraryItem">
                        <a href="">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="" >
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article class="libraryItem">
                        <a href="">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="" height=>
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article class="libraryItem">
                        <a href="">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="" height=>
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article class="libraryItem">
                        <a href="">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="" height=>
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article class="libraryItem">
                        <a href="">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                            <p>One Piece</p>
                        </a>
                    </article>
                    <article>
                        <img src="" alt="">
                        <a href=""></a>
                    </article>
                    <article>
                        <img src="" alt="">
                        <a href=""></a>
                    </article>
                    <article>
                        <img src="" alt="">
                        <a href=""></a>
                    </article>
                    <article>
                        <img src="" alt="">
                        <a href=""></a>
                    </article>
                </div>
            </div>
            <aside class="containerMainRight">
                <div class="space">
                    <h2>cc</h2>
                    <a href="">Plus</a>
                </div>
                <section>
                    <img src="" alt="">
                    <ul>
                        <h3><a href=""></a></h3>
                        <a href=""><span></span></a>
                    </ul>
                </section>
                <section>
                    <img src="" alt="">
                    <ul>
                        <h3><a href=""></a></h3>
                        <a href=""><span></span></a>
                    </ul>
                </section>
                <section>
                    <img src="" alt="">
                    <ul>
                        <h3><a href=""></a></h3>
                        <a href=""><span></span></a>
                    </ul>
                </section>
                <section>
                    <img src="" alt="">
                    <ul>
                        <h3><a href=""></a></h3>
                        <a href=""><span></span></a>
                    </ul>
                </section>
            </aside>
        </div>
    </main>