    <main>
        <div class="containerMain">
            <!-- Slideshow container -->
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <div style="display: flex;">
                        <img src="./Image/Manga/One_Piece/1-1583463814.jpg" height="160px">
                        <div class="text">
                            <h2>One piece</h2>
                            <p>augfaohfaoiafhoifhaofhofiahfaohfoiah</p>
                        </div>
                    </div>
                </div>
            
                <div class="mySlides fade">
                    <div style="display: flex;">
                        <img src="./Image/Manga/One_Piece/1-1583463814.jpg" height="160px">
                        <div class="text">
                            <h2>One piece</h2>
                            <p>augfaohfaoiafhoifhaofhofiahfaohfoiah</p>
                        </div>
                    </div>
                </div>
            
                <div class="mySlides fade">
                    <div style="display: flex;">
                        <img src="./Image/Manga/One_Piece/1-1583463814.jpg" height="160px">
                        <div class="text">
                            <h2>One piece</h2>
                            <p>augfaohfaoiafhoifhaofhofiahfaohfoiah</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            <div class="containerMainLeft">
                <h1>Dernieres publication</h1>
                <!-- Filtre -->
                <button id="bt_filter" type="button">
                    <img src="Image/Icons/filter.png" alt="" height="15px">
                    Filtre
                </button>
                <form class="filter dis_none" method="POST">
                    <div class="staTypFilter">
                        <h4>Status:</h4>
                        <div style="display: flex;">
                            <label for="tous">
                                <span>Tous</span>
                                <input type="checkbox" name="tous" id="tous" value="tous" checked>
                            </label>
                            <label for="encours">
                                <span>En cours</span>
                                <input type="checkbox" name="encours" id="encours" value="encours">
                            </label>
                            <label for="terminer">
                                <span>Terminer</span>
                                <input type="checkbox" name="terminer" id="terminer" value="terminer">
                            </label>
                        </div>
                    </div>
                        
                    <div class="staTypFilter">
                        <h4>Type:</h4>
                        <div class="ftResponsible">
                            <label for="manga">
                                <span>Manga</span>
                                <input type="checkbox" name="manga" id="manga">
                            </label>
                            <label for="manhua">
                                <span>Manhua</span>
                                <input type="checkbox" name="manhua" id="manhua">
                            </label>
                            <label for="manhwa">
                                <span>Manhwa</span>
                                <input type="checkbox" name="manhwa" id="manhwa">
                            </label>
                            <label for="webtoon">
                                <span>Webtoon</span>
                                <input type="checkbox" name="webtoon" id="webtoon">
                            </label>
                        </div>
                    </div>
                    <h4>Genre:</h4>
                    <div class="flexFilter">
                        <label for="action">
                            <input type="checkbox" name="action" id="action">
                            <span>Action</span>
                        </label>
                        <label for="aventure">
                            <input type="checkbox" name="aventure" id="aventure">
                            <span>Aventure</span>
                        </label>
                        <label for="comédie">
                            <input type="checkbox" name="comédie" id="comédie">
                            <span>Comédie</span> 
                        </label>
                        <label for="rommance">
                            <input type="checkbox" name="rommance" id="rommance">
                            <span>Romance</span>
                        </label>
                        <label for="Horreur">
                            <input type="checkbox" name="Horreur" id="Horreur">
                            <span>Horreur</span>
                        </label>
                        <label for="Drame">
                            <input type="checkbox" name="Drame" id="Drame">
                            <span>Drame</span>
                        </label>
                        <label for="Historique">
                            <input type="checkbox" name="Historique" id="Historique">
                            <span>Historique</span>
                        </label>
                        <label for="Harem">
                            <input type="checkbox" name="Harem" id="Harem">
                            <span>Harem</span>
                        </label>

                        <label for="Shonen">
                            <input type="checkbox" name="Shonen" id="Shonen">
                            <span>Shonen</span>
                        </label>
                        <label for="Seinen">
                            <input type="checkbox" name="Seinen" id="Seinen">
                            <span>Seinen</span>
                        </label>
                        <label for="Shojo">
                            <input type="checkbox" name="Shojo" id="Shojo">
                            <span>Shojo</span>
                        </label>
                        <label for="life">
                            <input type="checkbox" name="life" id="life">
                            <span>Tranche de vie</span>
                        </label>

                        <label for="Sport">
                            <input type="checkbox" name="Sport" id="Sport">
                            <span>Sport</span>
                        </label>
                        <label for="Scool">
                            <input type="checkbox" name="Scool" id="Scool">
                            <span>School life</span>
                        </label>
                        <label for="Médical">
                            <input type="checkbox" name="Médical" id="Médical">
                            <span>Médical</span>
                        </label>
                        <label for="Cuisine">
                            <input type="checkbox" name="Cuisine" id="Cuisine">
                            <span>Cuisine</span>
                        </label>

                        <label for="Fantaisie">
                            <input type="checkbox" name="Fantaisie" id="Fantaisie">
                            <span>Fantaisie</span>
                        </label>
                        <label for="Surnaturel">
                            <input type="checkbox" name="Surnaturel" id="Surnaturel">
                            <span>Surnaturel</span>
                        </label>
                        <label for="Martial">
                            <input type="checkbox" name="Martial" id="Martial">
                            <span>Martial Art</span>
                        </label>
                        <label for="Isekai">
                            <input type="checkbox" name="Isekai" id="Isekai">
                            <span>Isekai</span>
                        </label>

                        <label for="Mécha">
                            <input type="checkbox" name="Mécha" id="Mécha">
                            <span>Mécha</span>
                        </label>
                        <label for="fiction">
                            <input type="checkbox" name="fiction" id="fiction">
                            <span>Science-fiction</span>
                        </label>
                        <label for="Mysthère">
                            <input type="checkbox" name="Mysthère" id="Mysthère">
                            <span>Mystère</span>
                        </label>
                        <label for="Psychologique">
                            <input type="checkbox" name="Psychologique" id="Psychologique">
                            <span>Psychologique</span>
                        </label>
                    </div>
                    <button type="button" name="go">GO</button>
                </form>    
                    <!-- Article -->
                <section class="article_manga">
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <article class="itemupdate">
                        <a href="/MangaSky/manga">
                            <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="One_Piece" titre="One_Piece">
                        </a>
                        <ul class="listAC">
                            <li style="padding: 0; margin-bottom: 10px;">
                                <a href="/MangaSky/manga">
                                    <h3>One Piece</h3>
                                </a>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>20 heures</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>2 jours</span>
                            </li>
                            <li>
                                <a href="">Chapitre 1118</a>
                                <span>1 semaines</span>
                            </li>
                        </ul>
                    </article>
                    <!-- Bouton page suivante -->
                    <div class="bt_pg_next">
                        <a href="/MangaSky/">Premier</a>
                        <a href="/MangaSky/" class="pagination">1</a>
                        <a href="/MangaSky/MonCompte" class="pagination">2</a>
                        <a href="/MangaSky/MonCompte" class="pagination">3</a>
                        <a href="">Dernier</a>
                    </div>
                </section>
            </div>
            <!-- Aside Manga Populaire -->
            <aside class="containerMainRight">
                <h2 style="padding-left: 15px;">Populaire</h2>
                <ul class="calendar">
                    <li><a href="">Semaine</a></li>
                    <li><a href="">Mensuel</a></li>
                    <li><a href="">Tous</a></li>
                </ul>
                <section class="aside_section">
                    <div class="border_number">1</div>
                    <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <ul class="asideUl">
                        <li><h3 style="margin: 0;"><a href="/MangaSky/manga">One Piece</a></h3></li>
                        <div class="genreAside">
                            <li>Genre:</li>
                            <li><a href="">Action,</a></li>
                            <li><a href="">Aventure,</a></li>
                            <li><a href="">Shonen,</a></li>
                        </div>
                    </ul>
                </section>
                <section class="aside_section">
                    <div class="border_number">2</div>
                    <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <ul class="asideUl">
                        <li><h3 style="margin: 0;"><a href="/MangaSky/manga">One Piece</a></h3></li>
                        <div class="genreAside">
                            <li>Genre:</li>
                            <li><a href="">Action,</a></li>
                            <li><a href="">Aventure,</a></li>
                            <li><a href="">Shonen,</a></li>
                        </div>
                    </ul>
                </section>
                <section class="aside_section">
                    <div class="border_number">3</div>
                    <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <ul class="asideUl">
                        <li><h3 style="margin: 0;"><a href="/MangaSky/manga">One Piece</a></h3></li>
                        <div class="genreAside">
                            <li>Genre:</li>
                            <li><a href="">Action,</a></li>
                            <li><a href="">Aventure,</a></li>
                            <li><a href="">Shonen,</a></li>
                        </div>
                    </ul>
                </section>
                <section class="aside_section">
                    <div class="border_number">4</div>
                    <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <ul class="asideUl">
                        <li><h3 style="margin: 0;"><a href="/MangaSky/manga">One Piece</a></h3></li>
                        <div class="genreAside">
                            <li>Genre:</li>
                            <li><a href="">Action,</a></li>
                            <li><a href="">Aventure,</a></li>
                            <li><a href="">Shonen,</a></li>
                        </div>
                    </ul>
                </section>
                <section class="aside_section">
                    <div class="border_number">5</div>
                    <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <ul class="asideUl">
                        <li><h3 style="margin: 0;"><a href="/MangaSky/manga">One Piece</a></h3></li>
                        <div class="genreAside">
                            <li>Genre:</li>
                            <li><a href="">Action,</a></li>
                            <li><a href="">Aventure,</a></li>
                            <li><a href="">Shonen,</a></li>
                        </div>
                    </ul>
                </section>
            </aside>
        </div>
    </main>