    <main class="mainCo">
        <form id="formCo" style="justify-content: space-evenly;">
            <img src="./Image/LOGO Manga.png" alt="Logo">
            <h2>Connexion</h2>
            <div class="label_incription">
                <input type="email" name="emailCo" id="emailCo" maxlength="50" required>
                <label for="emailCo" class="labelDow" required>E-mail</label>
                <div class="messageError"></div>
            </div>
            <div class="label_incription">
                <input type="password" name="passwordCo" id="passwordCo" required>
                <label for="passwordCO" class="labelDow" required>Mot de passe</label>
                <ul class="messageError dis_none">
                    <li class="txtError"></li>
                    <li class="txtError"></li>
                    <li class="txtError"></li>
                </ul>
            </div>
            <input type="submit" value="Connexion">
            <p style="display: flex; justify-content: space-between;">Mot de passe oublié ?
                <a href="./inscrire.html">Créer un compte</a>
            </p>
        </form>
    </main>