    <main>
        <div>
            <article class="mangaHead">
                <img src="./Image/Manga/One_Piece/1-1583463814.jpg" alt="image One Piece">
                <div id="mangaInfo">
                    <h1>One Piece</h1>
                    <p>Auteur:<span></span></p>
                    <p>Status:<span></span></p>
                    <p>Chapitre:<span></span></p>
                    <div>
                        <p>Genre:</p>
                        <span>Aventure</span>
                    </div>
                    <p>Derniere mise à jours<span></span></p>
                    <button type="button">Boockmark</button>
                    <a href="">First chapter</a>
                </div>
            </article>
            <div class="titreSwich">
                <h2><a class="initial">SYNOPSIS</a></h2>
                <div class="barre"></div>
                <h2><a class="colorChange">CHAPITRE</a></h2>
            </div>
            <article class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eligendi doloribus voluptates autem distinctio ipsum inventore ad laboriosam sapiente incidunt ea consequatur cupiditate, odit temporibus iusto maiores delectus, porro quae.
                </p>
            </article>
            <article class="description chapNumb" style="text-align: center;">
                <h3 style="text-align: left;">N°Chapitre</h3>
                <h3 >Vue</h3>
                <h3>Date</h3>
                <ul style="list-style: none;">
                    <li >
                            <a href="">Chapitre</a><span>100</span><span>10/15/20</span>
                    </li>
                    <li></li>
                    <li></li>
                </ul>
            </article>
            <section>

            </section>
        </div>
    </main>