<main>
    <div class="containerMain">
        <article class="account">
            <img src="" alt="">
            <ul>
                <li>Identifiant :<span></span></li>
                <li>E-mail :<span></span></li>
                <li>Mot de passe :<span></span></li>
                <li><a href="" style="text-decoration: none; color: black;">Changer le mot de passe</a></li>
            </ul>
        </article>  
        <div class="containerMainLeft">
            <h2>Bibliotheque</h2>
            <article class="biblio">
                <a href="" class="libraryItem">
                    <img src="Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <div>
                        <p>One Piece</p>
                    </div>
                </a>
                <a href="" class="libraryItem">
                    <img src="Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <div>
                        <p>One Piece</p>
                    </div>
                </a>
                <a href="" class="libraryItem">
                    <img src="Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <div>
                        <p>One Piece</p>
                    </div>
                </a>
                <a href="" class="libraryItem">
                    <img src="Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <div>
                        <p>One Piece</p>
                    </div>
                </a>
                <a href="" class="libraryItem">
                    <img src="Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <div>
                        <p>One Piece</p>
                    </div>
                </a>
                <a href="" class="libraryItem">
                    <img src="Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <div>
                        <p>One Piece</p>
                    </div>
                </a>
                <a href="" class="libraryItem">
                    <img src="Image/Manga/One_Piece/1-1583463814.jpg" alt="">
                    <div>
                        <p>One Piece</p>
                    </div>
                </a>
            </article>
        </div>
        <aside class="containerMainRight">
            <div class="space">
                <h2>cc</h2>
                <a href="">Plus</a>
            </div>
            <section>
                <img src="" alt="">
                <ul>
                    <h3><a href=""></a></h3>
                    <a href=""><span></span></a>
                </ul>
            </section>
            <section>
                <img src="" alt="">
                <ul>
                    <h3><a href=""></a></h3>
                    <a href=""><span></span></a>
                </ul>
            </section>
            <section>
                <img src="" alt="">
                <ul>
                    <h3><a href=""></a></h3>
                    <a href=""><span></span></a>
                </ul>
            </section>
            <section>
                <img src="" alt="">
                <ul>
                    <h3><a href=""></a></h3>
                    <a href=""><span></span></a>
                </ul>
            </section>
        </aside>
    </div>
</main>