    <main>
        <div class="grid_h1">
            <h1>créer un compte</h1>
        </div>
        <form id="formIn">
            <img src="./Image/LOGO Manga.png" alt="Logo">
            <h2>S'inscrire</h2>
            <div class="label_incription">
                <input type="email" name="email" id="email" maxlength="50" required>
                <label for="email" class="labelDow" required>E-mail</label>
                <div class="messageError"></div>
            </div>
            <div class="label_incription">
                <input type="password" name="password" id="password" required>
                <label for="password" class="labelDow" required>Mot de passe</label>
                <ul class="messageError dis_none">
                    <li class="txtError"></li>
                    <li class="txtError"></li>
                    <li class="txtError"></li>
                </ul>
            </div>
            <div class="label_incription">
                <input type="password" name="verifpassword" id="verifpassword" required>
                <label for="verifpassword" class="labelDow" required>Confirmation mot de passe</label>
                <div class="messageError"></div> 
            </div>
            <input type="submit" value="S'inscrire">
            <p>Vous avez déjà un compte ?<a href="./connexion.php">Connexion</a></p>
        </form>
    </main>